<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>
<h1>Your Profile</h1>
<table border="1">
    <tr>
        <th>Full Name</th>
        <td th:text="${user.fullName}"></td>
    </tr>
    <tr>
        <th>Email</th>
        <td th:text="${user.email}"></td>
    </tr>
    <tr>
        <th>Age</th>
        <td th:text="${user.age}"></td>
    </tr>
</table>

<!-- Для админа - кнопка возврата -->
<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
    <a th:href="@{/admin}"><button>Back to Admin Panel</button></a>
</div>

<!-- Кнопка Logout -->
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Logout</button>
</form>
</body>
</html>